<article class="card h-100 post">
    {% if article.images is not empty %}
        {% set image = article.images|first %}
        <a href="{{ path('article_show', {slug: article.slug}) }}">
            <img src="{{ vich_uploader_asset(image, 'file') }}" alt="{{ image.caption|default(article.title) }}" class="card-img-top object-fit-cover" style="height: 250px;">
        </a>
    {% elseif article.videos is not empty %}
         <a href="{{ path('article_show', {slug: article.slug}) }}" class="d-flex align-items-center justify-content-center bg-light text-decoration-none text-muted" style="height: 250px;">
            <div class="text-center">
                <twig:ux:icon name="tabler:brand-youtube" style="width: 48px; height: 48px;"/>
                <span class="d-block mt-2">Watch Video</span>
            </div>
        </a>
    {% endif %}

    <div class="card-body">
        <h2 class="h4 card-title">
            <a href="{{ path('article_show', {slug: article.slug}) }}" class="text-decoration-none text-dark">
                {{ article.title }}
            </a>
        </h2>

        <p class="card-text text-muted small mb-2">
            <span class="me-2"><twig:ux:icon name="tabler:calendar-month"/> {{ article.publishedAt|format_datetime('medium', 'none', '', 'UTC') }}</span>
             <span><twig:ux:icon name="tabler:user"/> {{ article.author.fullName }}</span>
        </p>
        
        <p class="card-text">{{ article.summary }}</p>
    </div>
    <div class="card-footer bg-transparent border-top-0">
        {{ include('article/_article_tags.html.twig') }}
    </div>
</article>
