<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>{{ 'rss.title'|trans }}</title>
        <description>{{ 'rss.description'|trans }}</description>
        <pubDate>{{ 'now'|date('r', timezone: 'GMT') }}</pubDate>
        <lastBuildDate>{{ (paginator.results|last).publishedAt|default('now')|date('r', timezone: 'GMT') }}</lastBuildDate>
        <link>{{ url('article_index') }}</link>
        <language>{{ app.locale }}</language>

        {% for article in paginator.results %}
            <item>
                <title>{{ article.title }}</title>
                <description>{{ article.summary }}</description>
                <link>{{ url('article_show', {slug: article.slug}) }}</link>
                <guid>{{ url('article_show', {slug: article.slug}) }}</guid>
                <pubDate>{{ article.publishedAt|date(format: 'r', timezone: 'GMT') }}</pubDate>
                <author>{{ article.author.email }}</author>
                {% for tag in article.tags %}
                    <category>{{ tag.name }}</category>
                {% endfor %}
            </item>
        {% endfor %}
    </channel>
</rss>
